@media only screen and (min-width: 480px){
    .text-thing {
        color: red;
    }
}


@media only screen and (min-width: 768px){
    .test-thing {
        color: blue;
    }
}

@media only screen and (min-width: 1200px){
    .test-thing {
        color: green;
    }
}